@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

.cards {
  $root: &;

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 24px;
  }

  &__item {
    overflow: hidden;
    border-radius: var(--radius-main);
  }

  &__content {
    @include flex-all-sb;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    padding: 24px;
    text-align: center;

    h3 {
      color: var(--color-blue-900);
    }

    p {
      color: var(--color-dark);
    }
  }

  &--three {
    #{$root}__items {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &--colored {
    #{$root}__item {
      background-color: var(--color-blue-100);
    }
  }

  &--accent {
    padding: clamp(24px, 3.4vw, 48px);
    background-color: var(--color-blue-100);
    border-radius: var(--radius-main);
    overflow: hidden;

    #{$root}__title {
      margin-bottom: 24px;
      font-size: clamp(22px, 2.2vi, 32px);
      line-height: 1.21;
      font-weight: var(--fw-600);
      color: var(--color-blue-400);
      text-align: center;
      text-transform: capitalize;
    }

    #{$root}__content {
      background-color: var(--color-blue-400);
      gap: 16px;
      padding: 24px 16px ;

      h3,
      p {
        color: var(--color-white);
      }

      h3 {
        font-size: clamp(18px, 2vi, 20px);
        line-height: 1.4;
      }

      p {
        font-size: 16px;
        line-height: 1.6;
      }
    }
  }
}