@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.footer {
  &__inner {
    padding: clamp(16px, 3.8vw, 56px) 0;
  }

  &__bottom {
    background-color: var(--color-blue-700);
    padding: 26px 0;
  }

  &__wrapper {
    @include flex-all-sb;
  }

  &__items {
    @include flex-v-center;
    gap: clamp(16px, 3.4vw, 48px);
  }
//
//  &__link {
//    padding-block: 10px;
//    font-size: clamp(16px, 2vw, 18px);
//    line-height: 1.5;
//    color: var(--color-white);
//    white-space: nowrap;
//
//    &:not(:last-of-type) {
//      margin-right: clamp(20px, 2.5vw, 30px);
//
//    }
//  }
//
//  .btn {
//    color: var(--color-white) !important;
//    border-color: var(--color-white);
//
//    &:not(:last-child) {
//      margin-right: 20px;
//    }
//  }
//
//  &__bottom {
//    padding: 10px 0;
//  }
//
//  &__item {
//    &:not(:last-of-type) {
//      margin-right: clamp(30px, 19vw, 265px);
//    }
//  }
//
//  br {
//    display: none;
//  }
//
//  @include media(tablet-wide) {
//    &__inner {
//      .footer__wrapper {
//        flex-direction: column;
//        gap: 20px;
//      }
//    }
//
//    &__item {
//      &:not(:last-of-type) {
//        margin-right: 20px;
//      }
//    }
//  }
//
//  @include media(mobile-l) {
//    .footer__wrapper {
//      flex-direction: column;
//      gap: 20px;
//      text-align: center;
//    }
//  }
//
//  @include media(mobile-m) {
//    &__links {
//      flex-wrap: wrap;
//      justify-content: center;
//    }
//  }
//
//  @include media(mobile-s) {
//    br {
//      display: block;
//    }
//  }
}